<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Playlister</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav class="navbar">
        <ul>
            {% if user %}
            <li><a href="contact.asp">Create Playlist</a></li>
            <li><a href="about.asp">Log out</a></li>
            <li><a href="contact.asp">Reccomended Songs</a></li>
            {% else %}
            <li><a href="default.asp">Log in</a></li>
            <li><a href="news.asp">Sign Up</a></li>
            {% endif %}
          </ul>
    </nav>
    
    {% block content %} {% endblock%}    
</body>
</html>