<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Playlister</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav class="navbar hidden-print">
        <ul>
            {% if user %}
            <li><a href="/playlist/add">Create A Playlist</a></li>
            <li><a href="/user/{{user.id}}">My Playlists</a></li>
            <li><a target="_blank" rel="noopener noreferrer" href="https://www.djintelligence.com/charts/?source=mobilebeat.com">Recommended Songs</a></li>
            <li><a href="/faq">FAQ</a></li>
            <li><a href="/logout">Log out</a></li>
            {% else %}
            <li><a href="/register">Sign Up</a></li>
            <li><a href="/faq">FAQ</a></li>
            <li><a href="/login">Log in</a></li>
            {% endif %}
          </ul>
    </nav>
    
    {% block content %} {% endblock%} 
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="{{ url_for('static', filename='app.js') }}"></script>   
</body>
</html>