{% extends 'base.html' %}

{% block content %}
<h1>{{playlist.name}}</h1>
<ol class="song-list">
</ol>

<!-- NOTE We need to incorperate a remove button for each song! -->
<form action="" method="POST" id="add-song-form">
    <div class="form-group">
        <label for="title">Song Title</label>
        <input type="text" name="title" id="title">
        <label for="artist">Artist</label>
        <input type="text" name="artist" id="artist">
        <button type="submit" class="submit-btn">Add</button>
    </div>
</form>

{% endblock %}