{% extends 'base.html'  %}

{% block content %}
<h1>Recommended Songs</h1>
<!-- Maybe consider adding an 'add' button to each of these songs so that people can easily add the to their playlist? -->

<h2>Wedding Songs:</h2>
<ol class="songs">
    <li class="song">Fill these with relevent song ideas</li>
</ol>

<h2>Top 40 Songs:</h2>
<ol class="songs">
    <li class="song">Fill these with relevent song ideas</li>
</ol>

<h2>2010's Songs:</h2>
<ol class="songs">
    <li class="song">Fill these with relevent song ideas</li>
</ol>

<h2>00's Songs:</h2>
<ol class="songs">
    <li class="song">Fill these with relevent song ideas</li>
</ol>

<h2>90's Songs:</h2>
<ol class="songs">
    <li class="song">Fill these with relevent song ideas</li>
</ol>

<h2>80's Songs:</h2>
<ol class="songs">
    <li class="song">Fill these with relevent song ideas</li>
</ol>

<h2>70's Songs:</h2>
<ol class="songs">
    <li class="song">Fill these with relevent song ideas</li>
</ol>

{% endblock %}